
.images{
    transition: transform 0.5s ease, border-radius 1s ease, box-shadow 1s ease;
    border: 1px solid rgb(0, 255, 8);
    box-shadow: 0 0px 10px rgb(255, 225, 0); /* Optional: Adds a shadow */
    border-radius: 15px;
}

.images:hover{
    box-shadow: 0 0px 10px rgb(0, 0, 0); /* Optional: Adds a shadow */
    border-radius: 25px;
    /* transform: scale(1.1); */

}
.titleText{
  
        width: 200px;
        /* height: 150px; */
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 15px;
        /* background-color: lightGreen; */
        padding: 10px;
        /* border: 1px solid; */
      
      
}